<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>Casa Souza</name>
  <description>DESCUBRE ¿CUÁL ES TU TEQUILA?</description>
  <author email="adrian@codigodesign.com" href="http://codigodesign.com">Casa Souza</author>
  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
  <preference name="SplashScreen" value="splash" />

  <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-splashscreen" source="npm"/>
  <gap:splash src="splash.png" />

  <icon src="logo1.png" />
</widget>